@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Red Hat Display', sans-serif;
}

html {
  background: #E0E8FF;
}

body {
  background: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.main-container {
  max-width: 327px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

.main-container img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.full-content {
  padding: 2em 1.5em;
}

.main-text h1 {
  font-size: 1.375rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0.73em;
}

.main-text p {
  font-size: 0.9375rem;
  color: #757BA0;
  font-weight: 500;
  margin-bottom: 1.6em;
  line-height: 1.67;
}

.plan {
  background-color: #F8F9FE;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 81px;
  gap: 15px;
}

.plan img {
  object-fit: contain;
  width: 17,5%;
  margin: 0 0.25em 0 1em;
}

.plan a {
  font-weight: 700;
  font-size: 0.8175rem;
}

.annualplan {
  color: #1F2D52;
  font-weight: 900;
  margin-right: 2.1185em;
}

.price {
  color: #757BA0;
  font-weight: normal;
}

.pay-btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: #382AE1;
  color: #FFFFFF;
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 0.9em 0;
  margin: 1.5em 0;
  box-shadow: 0px 10px 10px 5px #DBD5F7;
}

.cancel-order {
  color: #6D7B95;
  font-weight: 900;
}


@media (min-width: 768px) {

  body {
    background: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .full-content {
    padding: 2.815em 3em 3em 3em;
  }

  .main-container {
  max-width: 450px;
  }

  .top-img img {
    min-width: 100%  
  }

 .main-text h1 {
  font-size: 1.75rem;
  margin-bottom: 0.6071em;
 }

 .main-text p {
  font-size: 1rem;
  margin-bottom: 1.250em;
 }

 .pay-btn {
  margin-top: 2em;
  margin-bottom: 2em;
 }

 .annualplan {
  margin-right: 5.5em;
  line-height: 1.5;
 }

}


