@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Red Hat Display', sans-serif;
}

html {
  background: #E0E8FF;
}

body {
  background: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.main-container {
  height: 80%;
  max-width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

.main-container img {
  object-fit: contain;
  max-width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.main-text h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0.8em;
}

.main-text p {
  color: #757BA0;
  font-weight: 500;
}

.main-text {
  margin: 2em 2em;
}

.plan {
  background-color: #F8F9FE;
  display: flex;
  align-items: center;
  margin: 0 30px;
  border-radius: 10px;
  height: 70px;
}

.plan img {
  object-fit: contain;
  width: 15%;
  margin-left: 15px;
}

.plan a {
  font-weight: 700;
}

.annualplan {
  color: #1F2D52;
  font-weight: 900;
  margin-left: 15px;
  margin-right: 40px;
}

.price {
  color: #757BA0;
  font-weight: normal;
}

.pay-btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: #382AE1;
  color: #FFFFFF;
  width: 80%;
  border-radius: 7px;
  border: none;
  padding: 0.7em 0;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 10px 10px 5px #DBD5F7;
}

.cancel-order {
  color: #6D7B95;
  margin-bottom: 30px;
  font-weight: 900;
}


@media (min-width: 1024px) {

  body {
    background: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-container {
    height: 85%;
    max-width: 35%;
  }

  .top-img img {
    min-width: 100%  
  }

 .main-text h1 {
  font-size: 1.5rem;
 }

 .main-text p {
  font-size: 1rem;
 }

 .pay-btn {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
 }

 .annualplan {
  margin-right: 3em;
 }

}


